<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body style="background-color:black;">
    <div>
        <img class="center" src="../static/Alert.gif">
    </div>
    <div>
        <h1 align="center" style="color:#ff0514;">ALERTA</h1>
        <h3 align="center" style="color:white;">La temperatura del equipo ha superado los limites y se apagara en <span id="time">00:10</span></h3>
    </div>
</body>
<script>
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }

    window.onload = function () {
        var fiveMinutes = 15,
            display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
    };
</script>
</html>
